* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #8aa88a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: #fff solid 1px;
    border-radius: 2em;
    padding: 2em;
    width: 15em;
    text-align: center;
    background: #bad8ba;
    color: #333333;
}

button, input {
    width: fit-content;
    padding: 0.5em;
    border-radius: 1.5em;
    border: none;
    background: #d5d5d5;
    color: #333333;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: #8aa88a;
    padding: 0.5em;
    border-radius: 1.5em;
    width: 100%;
}

.add-task, .task-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background: #8aa88a;
    padding: 0.5em;
    border-radius: 1.5em;
}